{% extends "main/base.html" %}

{% block content %}

    <br>

    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}

        <hr>

        <button class="btn" style="background-color:green; color:yellow" type="submit">Login</button>

    </form>

    <hr>
    
    If you don't have already have an account, <a href="/register/"><strong>register</strong></a> for one.

    <p><THIS SITE IS A LEARNING IN PROGRESS!!/p>
    <p>SO register ONLY WITH FAKE INFO</p>
    <hr>
    You can login with these credentails<br><br>
    Username: <b>test</b><br>
    Password: <b>ikbenerklaarmee</b><br>

    <br><br>
    Thanks for making my learning path bigger and greater.<br><br>
    Big Thanks from me @lexologics.nl <br>

{% endblock %}
