{% extends "main/base.html" %}

{% block content %}


    <h3>Raspberry Pi 3B+ Sensors</h3>
    {% if pitemp > '60' %}
      <h3><p class="text-danger">RPi 3 - CPU Temperature: {{ pitemp }}</p></h3>
    {% else %}
        <h3><p class="text-success">RPi 3 - CPU Temperature: {{ pitemp }}</p></h3>
    {% endif %}
    
    <b>Memory:</b><br>
    Processor: {{ get_mem_arm }}<br>
    GPU: {{ get_mem_gpu }}<br><br>

    <b>Core and SDRAM Volts</b><br>
      Core: {{ measure_volts_core }}<br><br>
      c: {{ measure_volts_sdram_c }} <br>
      i: {{ measure_volts_sdram_i }} <br>
      p: {{ measure_volts_sdram_p }} <br>
    </p>
    
    <hr>

    <h3>Sense Hat Sensors</h3>
    {% if temp > 37.25 %}
      <p class="text-danger">Temperature: {{ temp|floatformat:1 }}'C<br>
    {% else %}
      <p class="text-success">Temperature: {{ temp|floatformat:1 }}'C<br>
    {% endif %}

    Pressure: {{ pressure|floatformat:2 }}<br>
    Humidity: {{ humidity|floatformat:1 }}

    <hr>

    <i>(refreshing every 2 seconds)</i>    

    <hr>

<!--      <a href="/rgb/">Click Here</a>: and my LEDs will blink:) Thanks!</a> -->
<!--    <hr>  -->
    <a href="https://github.com/lexologics/sensehat">source code</a>
    
{% endblock %}
