{% extends "main/base.html" %}

{% block content %}

    <h1>Raspberry Pi 3B+ CPU Heat</h1>
    {% if temp > 37.25 %}
      <h3> 
      <p class="text-danger">Celsius: {{ temp|floatformat:2 }}</p>
      </h3>
    {% else %}
      <h3>
      <p class="text-success">Celsius: {{ temp|floatformat:2 }}</p>
      </h3>
    {% endif %}

<!--    
    <p>Sensor: {{ sense.temperature }}</p>
    <p>{{ sense.temp }}</p>
-->

    <p class="text-info">Pressure: {{ pressure|floatformat:2 }}</p>
    <p class="text-info">Humidity: {{ humidity|floatformat:2 }}</p>

    <i>(refreshing every 2 seconds)</i>

    <br><br>
    <hr>
    <a href="/rgb/">When you click here, my RGB LEDs will be on and I know you clicked :)</a>
    <hr>
    
{% endblock %}
